/*Colors*/

.shade {
    padding-top: 0.2em;
}


/*fonts and text*/

body {
    font-family: "Josefin Slab", serif;
	font-weight: 400;
	color: #565046;
	text-shadow: 0.2px 0.2px 1.3px Sienna;
}

.title {
    text-align: right;
    margin: 0.5em auto;
	font-family: "Yellowtail", cursive;
	font-size: 70px;
	font-weight: 1;
	color: #26231e;
}

.text-small {
    font-size: 10px;
    vertical-align:middle;
}

.header {
    font-size: 32px;
    font-weight: bold;
}

.bold {
    font-weight: 900;
}

.text-accent {
    font-weight: bold;
}

.center {
    text-align: center;
}

.personalInfoHeader {
    font-weight: bold;
}

.skills li {
    white-space: nowrap;
}

a {
    color: inherit;
    text-decoration-thickness: 4%;
    text-underline-offset: 0.2em;
    text-decoration-color: #b3a05e;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration-thickness: 10%;
    color: #b3a05e;

}

.historyRecordHeader div, .portfolioRecordHeader div {
    font-size: 20px;
}

.history-project-title {
    font-weight: bold;
}

.screenshot {
    margin-bottom: 1.5em;
}

/*positioning*/

.historyRecordHeader div, .portfolioRecordHeader div {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.portfolio-employer, .portfolio-role {
    padding-top: 0;
    padding-bottom: 0;
}

.profile {
    column-count: 2; /* Number of columns */
    column-gap: 20px; /* Space between columns */
    text-align: justify; /* Justify the text for a cleaner look */
  }

.profile-columns {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap if container width is too small */
    justify-content: space-between; /* Adjust space between columns */
}

.profile-columns div {
    flex: 1 1 calc(25% - 10px); /* Takes 25% width minus 10px for spacing */
    box-sizing: border-box; /* Ensures padding and borders don't affect width */
    text-align: left; /* Centers text within the item */
}

main {
    padding: 0 10%;
}

.content {
    display: flex;
}

.left {
    flex: 5;
}

.right {
    flex: 9;
}

div {
    padding: 5px 0;
}

.left {
    margin-right: 5%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.history-project {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.personal-info-item {
    padding-bottom: 0;
    padding-top: 0;
}

.educationRecord div {
    padding-bottom: 0;
    padding-top: 0;
}

.skills ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    flex: 0 0 20%;
    display: inline;
}

.portfolio .skills li {
    flex: 0 0 50%;
}

.skills li::before {
    content: "›";
    margin: 0 .25em;
    color: #b3a05e;
}

.historyRecordSummary ul, .portfolio-contribution ul {
    margin: 0;
    padding: 5px 5%;
}

.historyResponsibility {
    border-bottom: 2px solid #F5F4F5;
}

.top-skills {
    margin-top: 0;
    padding-left: 10px;
}

/* Decoration */

.historyRecordHeader, .portfolioRecordHeader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
    background-size: 0.5em 0.5em;
    margin: 0 0 1em 0;
    padding: 1em 0;
    position: relative;
}

.historyRecordHeader:before,
.historyRecordHeader:after,
.portfolioRecordHeader:before,
.portfolioRecordHeader:after {
    border: solid 0 #565046;
    border-width: 0.05em 0;
    bottom: calc((0.125em / 2) * 3);
    content: '';
    height: 0.15em;
    position: absolute;
    width: calc(50% - (1em / 2));
}

.historyRecordHeader:before, .portfolioRecordHeader:before {
    left: 0;
}

.historyRecordHeader:after, .portfolioRecordHeader:after {
    right: 0;
}

main {
    background: url("https://i.imgur.com/0kjMcUe.png");
    filter: brightness(0.95) sepia(30%) saturate(80%);
}

img {
    background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px), url(https://images-na.ssl-images-amazon.com/images/I/51pnouuPO5L.jpg);
    box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
