/*Colors*/

body {
    color: #595661;
}

.left {
    /* background-color: #F5F4F5; */
}

.shade {
    background-color: #F5F4F5;
    padding-top: 0.2em;
}

.header, .title {
    color: rgb(133, 195, 86);
}

.personalInfoHeader,
.educationDegree {
    color: black;
}

/*fonts and text*/

body {
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-size: 32px;
    text-align: center;
}

.text-small {
    font-size: 10px;
    vertical-align:middle;
}

.header {
    font-size: 26px;
}

.header, .title {
    font-weight: bold;
}

.bold {
    color: black;
    font-weight: 900;
}

.text-accent {
    color: black;
    font-weight: bold;
}

.center {
    text-align: center;
}

.personalInfoHeader,
.educationDegree {
    font-weight: bold;
}

.skills li {
    white-space: nowrap;
}

a {
    color: inherit;
    text-decoration-thickness: 2%;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-thickness: 7%;
}

.historyRecordHeader div {
    font-size: 20px;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.portfolio-employer, .portfolio-role {
    padding-top: 0;
    padding-bottom: 0;
}

.history-project-title {
    color: black;
    font-weight: 500;
}

/*positioning*/

.profile {
    column-count: 2; /* Number of columns */
    column-gap: 20px; /* Space between columns */
    text-align: justify; /* Justify the text for a cleaner look */
  }

.profile-columns {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap if container width is too small */
    justify-content: space-between; /* Adjust space between columns */
}

.profile-columns div {
    flex: 1 1 calc(25% - 10px); /* Takes 25% width minus 10px for spacing */
    margin: 5px; /* Adjusts spacing between items */
    box-sizing: border-box; /* Ensures padding and borders don't affect width */
    text-align: left; /* Centers text within the item */
}

.main-block {
    padding: 0 10%;
}

.content {
    display: flex;
}

.left {
    flex: 5;
}

.right {
    flex: 9;
}

div {
    padding: 5px 0;
}

.left, .right {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.history-project {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.personal-info-item {
    padding-bottom: 0;
    padding-top: 0;
}

.educationRecord div {
    padding-bottom: 0;
    padding-top: 0;
}

.skills ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    flex: 0 0 20%;
    display: inline;
}

.portfolio .skills li {
    flex: 0 0 50%;
}

.skills li::before {
    content: "›";
    margin: 0 .25em;
    color: #85c356;
}

.historyRecordSummary ul, .portfolio-contribution ul {
    margin: 0;
    padding: 5px 5%;
}

.historyResponsibility {
    border-bottom: 2px solid #F5F4F5;
}

.code-links {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.top-skills {
    padding-left: 10px;
}

/* Decoration */

.historyRecordHeader {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
    background-size: 0.5em 0.5em;
    margin: 0 0 1em 0;
    padding: 1em 0;
    position: relative;
}

.historyRecordHeader:before,
.historyRecordHeader:after {
    border: solid 0 #595661;
    border-width: 0.05em 0;
    bottom: calc((0.125em / 2) * 3);
    content: '';
    height: 0.15em;
    position: absolute;
    width: calc(50% - (1em / 2));
}

.historyRecordHeader:before {
    left: 0;
}

.historyRecordHeader:after {
    right: 0;
}
