/*Colors*/

body {
    color: #595661;
}

.left {
    background-color: #F5F4F5;
}

.shade {
    background-color: #F5F4F5;
    padding-top: 0.2em;
}

.header, .title {
    color: rgb(133, 195, 86);
}

.personalInfoHeader,
.educationDegree {
    color: black;
}

/*fonts and text*/

body {
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-size: 32px;
    text-align: center;
}

.text-small {
    font-size: 10px;
    vertical-align:middle;
}

.header {
    font-size: 26px;
}

.header, .title {
    font-weight: bold;
}

.bold {
    color: black;
    font-weight: 900;
}

.text-accent {
    color: black;
    font-weight: bold;
}

.center {
    text-align: center;
}

.header {
    /* text-align: center; */
}

.personalInfoHeader,
.educationDegree {
    font-weight: bold;
}

.historyRecordSkills li {
    white-space: nowrap;
}

.profile, .portfolio, .historyRecordSummary {
    text-align: justify;
}

a {
    color: #595661;
    text-decoration-thickness: 2%;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-thickness: 7%;
}

.historyPosition, .historyEmployer, .historyPeriod {
    font-size: 20px;
    color: black;
    margin: 0;
}

.history-project-title {
    color: black;
    font-weight: 500;
}

/*positioning*/

.content {
    display: flex;
}

.left {
    flex: 5;
}

.right {
    flex: 9;
}

.right > div {
    margin: 1em 1em 0 1em;
}

.left > div {
    margin: 1em 1em 0 1em;
}

.left .photo {
    margin: 0;
    display: none;
}

.left .photo img{
    margin: 0;
    border: 1px solid #85c356;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.portfolio img {
    margin: 1em;
}

.title, .header, .historyRecord, .educationRecord {
    margin: 0.5em 0 0.5em 0;
}

.historyRecordSummary {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

div {
    margin: 10px 0;
}

div.history-project {
    margin: 25px 0;
}

div.personal-info-item {
    margin: 0;
}

.educationRecord div {
    margin: 0;
}

.historyRecordSkills ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.historyRecordSkills li {
    flex: 0 0 20%;
  }

.historyRecordSkills li {
    margin: 0;
    padding: 0;
    display: inline;
}

.historyRecordSkills li::before {
    content: "›";
    margin: 0 .25em;
    color: #85c356;
}

.content.portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
}

.portfolio-delimiter .right {
    margin-left: 0;
}

.portfolio-delimiter .header {
    text-align: right;
}

.portfolio-contribution ul, .portfolio-stack ul {
    margin-top: 0.2em;
}

.historyRecordSummary ul {
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 15%;
    text-align: justify;
}

.historyRecord, .historyResponsibility {
    border-bottom: 2px solid #F5F4F5;
}

.code-links {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.top-skills {
    padding-left: 10px;
}
