header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
  display: none;
}

.main-block {
    padding: auto;
}

.portfolio.title {
    break-before: page;
}

.content.main {
    display: block;
}

.content.main .right {
    break-before: page;
}

.header {
    text-align: center;
}

.historyRecordHeader:before,
.historyRecordHeader:after {
    display: none;
}
